@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat/static/montserrat-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/static/oswald-regular.ttf') format('truetype');
}
